.selected_sentence {
  background-color: #0084BC;
  /* -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  -o-border-radius: 15px;
  -ms-border-radius: 15px; */
  border-radius: 3px;
  color: #FFFFFF;
}

.text_display {
  height: 200px;
  width: 90%;
  overflow: auto;
  background-color: #e8f4f8;
  scrollbar-base-color: gold;
  font-family: sans-serif;
  padding: 10px;
  margin: 5%;
}
